body {
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 0;
    background-color: #3d4451;
}

header {
    background-color: #343944;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

footer {
    background-color: #343944;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#settings {
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #2A2E37;
    border-radius: 100%;    
}

#settings img {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

#auth-popup {
    position: absolute;
    top: 60px;
    right: 30px;
    width: 180px;
    background-color: #2A2E37;
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#login-button,
#register-button,
#logout-button  {
    margin: 2px;
    width: calc(50% - 4px);
    background-color: #333;
    color: #793ef9;
    border-color: #793ef9;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s linear;
}


#logout-button {
    width: 100%;
    margin: 0px;
}

#login-button:hover,
#register-button:hover,
#logout-button:hover {
    color: white;
    background: #793ef9;
    border-color: white;
    transition: all 0.2s linear;
}

#popup-container {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#login-popup,
#register-popup {
    position: relative;
    margin: auto;
    width: 360px;
    padding: 30px;
    background: #333;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
#login-popup h2,
#register-popup h2 {
    text-align: center;
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 25px;
}

#login-popup #closebutton,
#register-popup #closebutton {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#login-popup .content input,
#register-popup .content input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background: #1e1e1e;
    color: #fff;
    width: 85%;
    height: 25px;
    outline: none;
    border: 1px, solid, #aaa;
    border-radius: 5px;
}

#login-popup .content input::placeholder,
#register-popup .content input::placeholder  {
    font-weight: bold;
    opacity: 0.7;
    color: #fff;
}

#login-popup .content #errorContainer,
#register-popup .content #errorContainer {
    background: #452424;
    color: #fff;
    width: 85%;
    margin: auto;
}

#login-popup .content #errorContainer p,
#register-popup .content #errorContainer p {
    margin: 0px;
    padding-left: 10px;
    padding: 5px;
}


#login-popup #confirmbutton,
#register-popup #confirmbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 25px;
    background: #793ef9;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}


#notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#notification .alert {
        padding: 10px;
        margin: 2px;
        background-color: #f44336;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
}

#notification .alert.success {background-color: #04AA6D;}
#notification .alert.info {background-color: #2196F3;}
#notification .alert.warning {background-color: #ff9800;}
